@use "../styles/main.scss" as *;

.dashboard {
  overflow-y: hidden;
  position: relative;
  height: 90vh;
  .welcome-section {
    min-height: 90vh;
    @include flex();

    .container {
      @include flex(center, center, column);
      .tiny-text {
        @include typography(
          clamp(12px, 1.5vw, 14px),
          500,
          #7d7b7d,
          0.14em,
          1.3,
          uppercase
        );
      }
      .medium-text {
        @include typography(
          clamp(30px, 3.5vw, 60px),
          500,
          #fff,
          -0.05em,
          1.3,
          uppercase
        );
        margin-bottom: 48px;
      }
      .large-text {
        @include typography(
          clamp(60px, 6vw, 80px),
          500,
          #fff,
          -0.05em,
          1.3,
          uppercase
        );
      }
      .get-started {
        @include typography(
          clamp(12px, 1.5vw, 14px),
          500,
          #444545,
          normal,
          1.3
        );
      }
      .accent {
        color: #c3df18;
      }
      .amerito {
        margin-bottom: 12px;
      }
      .review {
        margin-bottom: 4px;
      }
      .and {
        margin-bottom: 4px;
      }
      .refine {
        margin-bottom: 12px;
      }
    }
  }
}

@media screen and (min-width: 744px) {
  .dashboard {
    display: flex;
    height: 100vh;
    .welcome-section {
      margin: 0 auto;
    }
  }
}
