@use "../../styles/main.scss" as *;

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: var(--section-bg);
  padding-top: 40px;
  padding-bottom: 32px;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
  &.active {
    transform: translateX(0);
  }
  .container {
    height: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    .sidebar-header {
      padding-inline: 8px;
      .logo-expand {
        @include flex(space-between, flex-start, row, 24px);
        .logo-link {
          display: none;
        }
        .collapse-sidebar {
          padding: 5px;
          display: none;
          background-color: transparent;
          transition: all 0.15s ease-in-out;
        }
      }
      .tablet-divider {
        border: 1px solid var(--border);
        width: 100%;
        position: absolute;
        left: 0;
        display: none;
      }
      .input-wrapper {
        margin-top: 32px;
        margin-bottom: 12px;
        position: relative;
        .icon {
          position: absolute;
          fill: transparent;
          stroke: #444545;
          left: 12px;
          top: 50%;
          transform: translateY(-50%);
          transition: all 0.3s ease-in-out;
        }
        &:hover {
          .icon {
            stroke: var(--details);
          }
          input {
            background-color: var(--input-active);
            &::placeholder {
              color: var(--details);
            }
          }
        }
        &:focus-within,
        &:active {
          .icon {
            stroke: var(--details);
          }
          input {
            outline: none;
            background-color: var(--input-active);
            border-color: var(--accent);
            &::placeholder {
              color: var(--details);
            }
          }
        }
        input {
          display: block;
          width: 100%;
          border: 1px solid var(--stroke);
          border-radius: 8px;
          padding: 8px 12px 8px 32px;
          background: var(--input-bg);
          color: var(--white);
          transition: all 0.3s ease-in-out;
          &::placeholder {
            @include typography(14px, 400, #444545, normal, 1.33);
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
    .categories {
      display: flex;
      overflow: hidden;
      overflow-x: auto;
      margin-bottom: 12px;
      &::-webkit-scrollbar {
        display: none;
      }
      button {
        padding: 4px 10px;
        border: none;
        border-radius: 12px;
        background-color: transparent;
        @include typography(14px, 400, #555355);
        transition: all 0.2s ease-in-out;
        &.active {
          color: var(--accent);
          background-color: rgba(195, 223, 24, 0.2);
        }
        &:hover {
          color: var(--accent);
          cursor: pointer;
        }
      }
    }
    hr {
      border: 1px solid var(--border);
      width: 100%;
      margin-bottom: 16px;
    }
    .conversation-count {
      pointer-events: none;
      margin-bottom: 16px;
      @include flex(space-between, center);
      .conversation {
        @include heading-third();
      }
      .count {
        @include typography(12px, 400, #555355, 0.05em);
        padding: 3px 5px;
        background-color: var(--border);
        border-radius: 7px;
      }
    }
    .conversations {
      @include flex(flex-start, unset, column, 6px);
      overflow-y: auto;
      overflow-x: hidden;
      flex: 1;
      scrollbar-width: none;
      scrollbar-width: thin;
      scrollbar-color: var(--border) transparent;
      &::-webkit-scrollbar {
        width: 3px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 10px;
        transition: background-color 0.2s ease;
      }
      &:hover::-webkit-scrollbar-thumb {
        background-color: var(--border);
      }
    }
  }
}

@media screen and (min-width: 744px) {
  .sidebar {
    position: static;
    width: initial;
    transform: translateX(0);
    padding-block: 16px;
    border-right: 1px solid var(--border);
    transition: transform 300ms ease-in-out;
    .container {
      max-width: 286px;
      .sidebar-header {
        .tablet-divider {
          display: block;
        }
        .logo-expand {
          margin-bottom: 16px;
          .logo-link {
            display: flex;
          }
          .collapse-sidebar {
            cursor: pointer;
            @include flex(center, center);
            background-color: transparent;
            border: none;
            .tablet-icon {
              fill: #555355;
              transition: fill 0.15 ease-in-out;
            }
            &:hover {
              border-radius: 6px;
              .tablet-icon {
                fill: var(--details);
              }
            }
          }
        }
      }
    }
    &.collapsed {
      position: absolute;
      transition: transform 100ms ease-in-out;
      transform: translateX(-100%);
      .tablet-icon {
        transition: fill 0.15s ease-in-out;
        transform: translateX(300%);
      }
      + .conversation-view {
        .conversation-header {
          padding-left: 32px;
        }
      }
    }
  }
}
